.edit-form-backdrop {
  @include backdrop;
  input[type="checkbox"] {
    display: block;
  }
  .edit-todo-container {
    background-color: $secondary-background;
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .save-edit-todo-button {
      @include save-edit-todo-button;
    }
    .cancel-edit-todo-button {
      @include cancel-edit-button;
    }
    .edit-form-buttons {
      margin-top: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .single-task {
      margin-bottom: 8px;
      .task-name {
        padding-bottom: 4px;
      }
    }

    .edit-todo-form {
      width: 90%;
      .edit-todo-name-input {
        text-indent: 10px;
        margin-bottom: 30px;
        height: 40px;
        width: 100%;
        border-radius: $border-radius;
        border: none;
        margin-top: 20px;
      }
      .form-divider {
        @include form-divider;
        width: 100%;
      }
    }
    .task-form-container {
      width: 90%;
      .task-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .checkbox-input {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin-top: 20px;
        }
        .add-task-button {
          @include form-button;
          height: 24px;
          width: 70px;
          margin-top: 2px;
          font-size: 14px;
          border-radius: 4px;
        }
        .add-task-input {
          @include add-task-input;
        }
      }
    }
  }
}
