.login-page {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-form {
    @include authentication-form;
    .login-title {
      @include form-title;
    }
    .login-button {
      @include form-button;
    }
    .login-inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .identifier-login-input,
      .password-login-input {
        margin-bottom: 30px;
        height: 50px;
        width: 600px;
        border-radius: $border-radius;
        border: none;
        width: 60%;
      }
    }
    .or-text {
      margin: 50px 0 50px 0;
    }
    .register-button {
      @include button-no-background;
      text-decoration: none;
      color: $primary-color !important;
      font-size: 26px;
      font-weight: 100 !important;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -3px;
        left: 0;
        background-color: $primary-color;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
    a {
      text-decoration: none;
      color: $primary-color !important;
    }
    input {
      text-indent: 10px;
    }
  }
}

.invalid-data {
  color: $error-color;
}
