.register-page {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .register-form {
    @include authentication-form;
    .create-account-button {
      @include form-button;
    }
    input {
      text-indent: 10px;
    }
    .back-arrow {
      align-self: flex-start;
      margin-left: 30px;
      margin-top: 30px;
    }
    .register-form-title {
      margin-top: 12px !important;
      @include form-title;
    }
    .username-register-input,
    .email-register-input,
    .password-register-input,
    .repeat-password-register-input {
      margin-bottom: 30px;
      height: 50px;
      width: 60%;
      border-radius: $border-radius;
      border: none;
    }
    .register-inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }
}
