@include media-sm {
  .register-form,
  .login-form {
    height: 580px !important;
    width: 90% !important;

    .login-button,
    .create-account-button {
      height: 50px !important;
    }
    .create-account-button {
      margin-top: 10px !important;
    }
    .register-form-title {
      margin: 20px 0 30px 0 !important;
    }
  }
  .or-text {
    margin: 30px 0 30px 0 !important;
  }
  .tasks-numbers {
    flex-direction: column;
  }
  .navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-left: 0 !important;
    .logout-button {
      width: 50px !important;
      height: 50px !important;
    }
    .logout-button {
      position: absolute !important;
      right: 0;
      top: -4px;
    }
  }
  .add-todo-container,
  .edit-todo-container {
    width: 85% !important;
  }
  .search-input {
    width: 40vw !important;
  }
  .add-todo-form {
    width: 80% !important;
  }
  .todo-delete-button {
    visibility: visible !important;
  }
  .logo {
    font-size: 48px !important;
  }
  .sort-input {
    width: 100px !important;
    text-indent: 34px !important;
  }
  .content {
    width: 80% !important;
  }
  .add-todo-button {
    right: 10% !important;
  }
}

@include media-md {
  .register-form,
  .login-form {
    width: 65% !important;
  }
  .content {
    width: 80% !important;
  }

  .identifier-login-input,
  .password-login-input,
  .username-register-input,
  .email-register-input,
  .password-register-input,
  .repeat-password-register-input {
    width: 400px !important;
  }
  .add-todo-button {
    right: 10% !important;
  }
}

@include media-lg {
}
