@include media-sm {
  .register-form,
  .login-form {
    width: 80% !important;
    .username-register-input,
    .email-register-input,
    .password-register-input,
    .repeat-password-register-input,
    .identifier-login-input,
    .password-login-input {
      width: 280px !important;
    }
  }

  .tasks-numbers {
    flex-direction: column;
  }
  .navbar {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-left: 0 !important;
    .logout-button {
      position: absolute !important;
      right: 0;
      top: -4px;
    }
  }
  .search-input {
    width: 40vw !important;
  }
  .add-todo-form {
    width: 80% !important;
  }
  .todo-delete-button {
    visibility: visible !important;
  }
}

@include media-md {
  .register-form,
  .login-form {
    width: 65% !important;
  }
  .content {
    width: 80% !important;
  }
}

@include media-lg {
}
