.todos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  .content {
    width: 60%;
    height: 100%;
    margin-top: 150px;
  }
}

.search-input {
  text-indent: 10px;
  margin-bottom: 30px;
  height: 40px;
  width: 30vw;
  border-radius: $border-radius;
  border: none;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
}

.add-todo-button {
  position: fixed;
  bottom: 20px;
  right: 20%;
  height: 80px;
  cursor: pointer;
}

.sort-input {
  height: 40px;
  width: 150px;
  border-radius: $border-radius;
  text-indent: 54px;
  z-index: 2;
  position: relative;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

option[value=""][disabled] {
  display: none;
}

.change-sort-button {
  @include button-no-background;
  color: $secondary-background;
  transition: all 0.3s ease-in-out;
  margin-right: -24px;
  z-index: 3;
  position: relative;

  &.open {
    transform: rotate(180deg);
  }
}

.no-list-text {
  margin-top: 200px !important;
}
