.form-backdrop {
  @include backdrop;
  input[type="checkbox"] {
    display: none;
  }
  .add-todo-container {
    background-color: $secondary-background;
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .add-todo-form-buttons {
      margin-top: auto;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .cancel-add-todo-button {
        @include cancel-edit-button;
      }
      .save-add-todo-button {
        @include save-edit-todo-button;
      }
    }
    .form-divider {
      @include form-divider;
    }
    .add-todo-form {
      width: 90%;
    }
    .task-form-container {
      width: 90%;

      .task-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .add-task-button {
          @include form-button;
          height: 24px;
          width: 70px;
          margin-top: 2px;
          font-size: 14px;
          border-radius: 4px;
        }
        .checkbox-input {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin-top: 20px;
          input[type="checkbox"] {
            display: flex;
          }

          .add-task-input {
            @include add-task-input;
          }
        }
      }
    }
    .add-todo-name-input {
      text-indent: 10px;
      margin-bottom: 30px;
      height: 40px;
      width: 100%;
      border-radius: $border-radius;
      border: none;
      margin-top: 20px;
    }
  }
}

.single-task {
  width: 90%;
  display: flex;
  margin-right: auto;
  .task-name {
    margin-left: 10px;
    border-bottom: 1px solid $primary-color;
    width: 100%;
    margin-bottom: 10px;
    text-indent: 10px;
    padding-bottom: 2px;
  }
  .task-checkbox {
    border: none;
    box-shadow: none;
  }
}

.add-todo-error {
  font-weight: 600;
  margin-top: 100px;
  color: $error-color;
}
