@media screen and (max-width: 768px) {
  .register-form,
  .login-form {
    height: 580px !important;
    width: 100% !important;
  }
  .register-form .username-register-input,
  .register-form .email-register-input,
  .register-form .password-register-input,
  .register-form .repeat-password-register-input,
  .register-form .identifier-login-input,
  .register-form .password-login-input,
  .login-form .username-register-input,
  .login-form .email-register-input,
  .login-form .password-register-input,
  .login-form .repeat-password-register-input,
  .login-form .identifier-login-input,
  .login-form .password-login-input {
    width: 230px !important;
  }
  .register-form .login-button,
  .register-form .create-account-button,
  .login-form .login-button,
  .login-form .create-account-button {
    height: 50px !important;
  }
  .register-form .create-account-button,
  .login-form .create-account-button {
    margin-top: 10px !important;
  }
  .register-form .register-form-title,
  .login-form .register-form-title {
    margin: 20px 0 30px 0 !important;
  }
  .or-text {
    margin: 30px 0 30px 0 !important;
  }
  .tasks-numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding-left: 0 !important;
  }
  .navbar .logout-button {
    position: absolute !important;
    right: 0;
    top: -4px;
  }
  .search-input {
    width: 40vw !important;
  }
  .add-todo-form {
    width: 80% !important;
  }
  .todo-delete-button {
    visibility: visible !important;
  }
}

@media screen and (max-width: 1024px) {
  .register-form,
  .login-form {
    width: 65% !important;
  }
  .content {
    width: 80% !important;
  }
  .identifier-login-input,
  .password-login-input,
  .username-register-input,
  .email-register-input,
  .password-register-input,
  .repeat-password-register-input {
    width: 400px !important;
  }
}

@media screen and (max-width: 1600px) {
  .add-todo-button {
    right: 10% !important;
  }
}

.register-page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-page .register-form {
  height: 700px;
  width: 45%;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  margin-top: 100px;
}

.register-page .register-form .create-account-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 200px;
  background-color: #ff9900;
  height: 70px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 26px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.register-page .register-form .create-account-button:hover {
  background-color: #1a1a1a;
  color: #ff9900;
}

.register-page .register-form input {
  text-indent: 10px;
}

.register-page .register-form .back-arrow {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 30px;
  margin-top: 30px;
}

.register-page .register-form .register-form-title {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #ff9900;
  font-size: 30px;
}

.register-page .register-form .username-register-input,
.register-page .register-form .email-register-input,
.register-page .register-form .password-register-input,
.register-page .register-form .repeat-password-register-input {
  margin-bottom: 30px;
  height: 50px;
  width: 600px;
  border-radius: 8px;
  border: none;
}

.register-page .register-form .register-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1a1a1a;
}

.navbar .logo {
  font-family: "ZCOOL KuaiLe", cursive;
  padding: 10px 0 0 10px;
  font-size: 56px;
  color: #ff9900;
}

.logout-button {
  margin: 20px 20px 0 0;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.login-page {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-page .login-form {
  height: 700px;
  width: 45%;
  background-color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  margin-top: 100px;
}

.login-page .login-form .login-title {
  margin-top: 70px;
  margin-bottom: 70px;
  color: #ff9900;
  font-size: 30px;
}

.login-page .login-form .login-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 200px;
  background-color: #ff9900;
  height: 70px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 26px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.login-page .login-form .login-button:hover {
  background-color: #1a1a1a;
  color: #ff9900;
}

.login-page .login-form .login-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-page .login-form .login-inputs .identifier-login-input,
.login-page .login-form .login-inputs .password-login-input {
  margin-bottom: 30px;
  height: 50px;
  width: 600px;
  border-radius: 8px;
  border: none;
}

.login-page .login-form .or-text {
  margin: 50px 0 50px 0;
}

.login-page .login-form .register-button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #ff9900 !important;
  font-size: 26px;
  font-weight: 100 !important;
  position: relative;
}

.login-page .login-form .register-button:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #ff9900;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.login-page .login-form .register-button:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.login-page .login-form a {
  text-decoration: none;
  color: #ff9900 !important;
}

.login-page .login-form input {
  text-indent: 10px;
}

.invalid-data {
  color: #c50606;
}

.todos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
}

.todos-container .content {
  width: 60%;
  height: 100%;
  margin-top: 150px;
}

.search-input {
  text-indent: 10px;
  margin-bottom: 30px;
  height: 40px;
  width: 30vw;
  border-radius: 8px;
  border: none;
}

.filter-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-todo-button {
  position: fixed;
  bottom: 20px;
  right: 20%;
  height: 80px;
  cursor: pointer;
}

.sort-input {
  height: 40px;
  width: 150px;
  border-radius: 8px;
  text-indent: 54px;
  z-index: 2;
  position: relative;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

option[value=""][disabled] {
  display: none;
}

.change-sort-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #2d2d2d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: -24px;
  z-index: 3;
  position: relative;
}

.change-sort-button.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.form-backdrop input[type="checkbox"] {
  display: none;
}

.form-backdrop .add-todo-container {
  background-color: #2d2d2d;
  height: 90%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-backdrop .add-todo-container .add-todo-form-buttons {
  margin-top: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-backdrop .add-todo-container .add-todo-form-buttons .cancel-add-todo-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff9900;
  width: 150px;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 0 20px 20px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.form-backdrop .add-todo-container .add-todo-form-buttons .cancel-add-todo-button:hover {
  background-color: #1a1a1a;
  color: #ffffff;
}

.form-backdrop .add-todo-container .add-todo-form-buttons .save-add-todo-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 200px;
  background-color: #ff9900;
  height: 70px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 26px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 50px;
  width: 150px;
  margin: 0 20px 20px 0;
}

.form-backdrop .add-todo-container .add-todo-form-buttons .save-add-todo-button:hover {
  background-color: #1a1a1a;
  color: #ff9900;
}

.form-backdrop .add-todo-container .form-divider {
  border: none;
  border-top: 2px solid #ff9900;
  width: 90%;
  margin-bottom: 26px;
}

.form-backdrop .add-todo-container .add-todo-form {
  width: 90%;
}

.form-backdrop .add-todo-container .task-form-container {
  width: 90%;
}

.form-backdrop .add-todo-container .task-form-container .task-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form-backdrop .add-todo-container .task-form-container .task-form .add-task-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 200px;
  background-color: #ff9900;
  height: 70px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 26px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 24px;
  width: 70px;
  margin-top: 2px;
  font-size: 14px;
  border-radius: 4px;
}

.form-backdrop .add-todo-container .task-form-container .task-form .add-task-button:hover {
  background-color: #1a1a1a;
  color: #ff9900;
}

.form-backdrop .add-todo-container .task-form-container .task-form .checkbox-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.form-backdrop .add-todo-container .task-form-container .task-form .checkbox-input input[type="checkbox"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-backdrop .add-todo-container .task-form-container .task-form .checkbox-input .add-task-input {
  width: 90%;
  border: none;
  background-color: #2d2d2d;
  border-bottom: 1px solid #ff9900;
  text-indent: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-bottom: 2px;
  color: #ffffff;
}

.form-backdrop .add-todo-container .add-todo-name-input {
  text-indent: 10px;
  margin-bottom: 30px;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
}

.single-task {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.single-task .task-name {
  margin-left: 10px;
  border-bottom: 1px solid #ff9900;
  width: 100%;
  margin-bottom: 10px;
  text-indent: 10px;
  padding-bottom: 2px;
}

.single-task .task-checkbox {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.add-todo-error {
  font-weight: 600;
  margin-top: 100px;
  color: #c50606;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2d2d2d;
  margin-bottom: 20px;
  padding: 10px 0 10px 0;
  border-radius: 8px;
  padding-left: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo .tasks-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.todo .tasks-numbers .completed-tasks-text,
.todo .tasks-numbers .uncompleted-tasks-text,
.todo .tasks-numbers .all-tasks-text {
  margin-right: 10px;
}

.todo .todo-create-date {
  font-size: 14px;
  width: 35%;
  font-style: italic;
  margin-right: 10px;
}

.todo .todo-name {
  width: 35%;
  margin-right: 10px;
}

.todo .todo-delete-button {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  padding: 5px 0 5px 0;
  background: none;
  border: none;
  cursor: pointer;
}

.todo .todo-delete-button .delete-icon {
  color: #ff9900;
  height: 30px;
  width: 30px;
}

.todo:hover .todo-delete-button {
  visibility: visible;
}

.edit-form-backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.edit-form-backdrop input[type="checkbox"] {
  display: block;
}

.edit-form-backdrop .edit-todo-container {
  background-color: #2d2d2d;
  height: 90%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-form-backdrop .edit-todo-container .save-edit-todo-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 200px;
  background-color: #ff9900;
  height: 70px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 26px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 50px;
  width: 150px;
  margin: 0 20px 20px 0;
}

.edit-form-backdrop .edit-todo-container .save-edit-todo-button:hover {
  background-color: #1a1a1a;
  color: #ff9900;
}

.edit-form-backdrop .edit-todo-container .cancel-edit-todo-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ff9900;
  width: 150px;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 0 20px 20px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.edit-form-backdrop .edit-todo-container .cancel-edit-todo-button:hover {
  background-color: #1a1a1a;
  color: #ffffff;
}

.edit-form-backdrop .edit-todo-container .edit-form-buttons {
  margin-top: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit-form-backdrop .edit-todo-container .single-task {
  margin-bottom: 8px;
}

.edit-form-backdrop .edit-todo-container .single-task .task-name {
  padding-bottom: 4px;
}

.edit-form-backdrop .edit-todo-container .edit-todo-form {
  width: 90%;
}

.edit-form-backdrop .edit-todo-container .edit-todo-form .edit-todo-name-input {
  text-indent: 10px;
  margin-bottom: 30px;
  height: 40px;
  width: 100%;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
}

.edit-form-backdrop .edit-todo-container .edit-todo-form .form-divider {
  border: none;
  border-top: 2px solid #ff9900;
  width: 90%;
  margin-bottom: 26px;
  width: 100%;
}

.edit-form-backdrop .edit-todo-container .task-form-container {
  width: 90%;
}

.edit-form-backdrop .edit-todo-container .task-form-container .task-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.edit-form-backdrop .edit-todo-container .task-form-container .task-form .checkbox-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.edit-form-backdrop .edit-todo-container .task-form-container .task-form .add-task-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 200px;
  background-color: #ff9900;
  height: 70px;
  color: #ffffff;
  font-size: 20px;
  margin-top: 26px;
  border-radius: 8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 24px;
  width: 70px;
  margin-top: 2px;
  font-size: 14px;
  border-radius: 4px;
}

.edit-form-backdrop .edit-todo-container .task-form-container .task-form .add-task-button:hover {
  background-color: #1a1a1a;
  color: #ff9900;
}

.edit-form-backdrop .edit-todo-container .task-form-container .task-form .add-task-input {
  width: 90%;
  border: none;
  background-color: #2d2d2d;
  border-bottom: 1px solid #ff9900;
  text-indent: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-bottom: 2px;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=index.css.map */