@import "config";
@import "responsive";
@import "register-form";
@import "navbar";
@import "login-form";
@import "todos-container";
@import "todo-form";
@import "todo";
@import "edit_form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Roboto", sans-serif;
}
